{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% block head_title %}
    {% trans "Sign In" %}
  {% endblock head_title %}
{% endblock title %}
{# A signed-out visitor on the sign-in page does not need a link to the page #}
{# they are already on. #}
{% block header %}
{% endblock header %}
{# Narrowing the container rather than the content keeps a message the same #}
{# width as the form it is about. #}
{% block page_class %}page entrance{% endblock page_class %}
{% block main %}
  {% block content %}
  {% endblock content %}
  {% block extra_body %}
  {% endblock extra_body %}
{% endblock main %}
