{% extends "base.html" %}

{% load i18n %}

{% block title %}
  User:
  {{ object.username }}
{% endblock title %}
{% block content %}
  <h1>{{ object.username }}</h1>
  {% if object.name %}<p>{{ object.name }}</p>{% endif %}
  {% if object == request.user %}
    <div class="flex flex-wrap gap-2">
      <a class="btn btn-outline" href="{% url 'users:update' %}">{% translate "My Info" %}</a>
      <a class="btn btn-outline" href="{% url 'account_email' %}">{% translate "E-Mail" %}</a>
      <a class="btn btn-outline" href="{% url 'mfa_index' %}">{% translate "MFA" %}</a>
      {# Your Stuff: Custom user template urls #}
    </div>
  {% endif %}
{% endblock content %}
